<%= render 'layouts/nav' %><br>


<h1>Toutes les agences</h1>

<% @agences.each do |a| %>

    <ul>
      <li><%= link_to a.raison_sociale, a %></li>

    </ul>

<% end %>





agence_path(@agence)









